.conda/
datasets/
__pycache__/
**/checkpoints/mri_autoenc/events.out.tfevents*
**/checkpoints/mri_autoenc_latent/events.out.tfevents*
checkpoints/
evals/
wandb/
*.log
*.png
netron_modell.*
netron_model.*
testforoai/*
*.gif
unimportant/